# .github/workflows/update-feed.yml

name: Update Podcast RSS

on:
  schedule:
    - cron: '0 21 * * 1'  # every monday by 10pm, 
  workflow_dispatch:      # also allow manual triggering

jobs:
  update-rss:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Fetch RSS from Apps Script
      run: |
        curl -s "https://script.googleusercontent.com/macros/echo?user_content_key=AehSKLjXp2iGEJWgvojEz7jP_nrLfGsrcwjFw6uswfLQqSZkX5bL8HHsDr6fPvN8pRLSb9wg69XOvalO9-Ki_pVnjkjtbKZavND_G-ybzTwswtLk8y8LVh-2aCzcZB0NPrg24IR_sWbo4PH10gMGHFtM2pETP5g8JMLlM6sx3TgsLU88hdCPq2hAZAKh95jkvTqwRXwCmhBDEieKHS6A1PZmUSreXDW8MckYOyIYVH4Qbj0_Y-DnaUYhOvleZvoVZFpSsADMusL0oWYi9DMgmL6Y1t1IJhFYeITttyuRdvbC&lib=MypX96_10XtSTD1Klbkvub5ceetbp1-O1" -o rss_feed.xml

    - name: Commit updated feed
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add rss_feed.xml
        git commit -m "Update RSS feed" || echo "No changes to commit"
        git push
